.container-parcelas{
    margin-top: 25px;
    display: flex;
    gap: 10px;
    width: 88%;
}

.campos-gerador-parcelas{
    width: 30%;
}

.campos-gerador-parcelas label{
    font-size: 12px;
    font-weight: 500;
}

.campos-gerador-parcelas2{
    width: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
}

.campos-gerador-parcelas2 label{
    font-size: 12px;
    font-weight: 500;
}

.campos-gerador-parcelas2 input{
    background-color: var(--branco);
    font-weight: 500;
    width: 100%;
}

.campos-gerador-parcelas3{
    width: 25%;
}

.campos-gerador-parcelas3 label{
    font-size: 12px;
    font-weight: 500;
}

.campos-gerador-parcelas3 select{
    background-color: var(--branco);
    font-weight: 500;
    padding: 6px;
    width: 100%;
}

.campos-button-parcelas1{
    margin-top: 20px;
    width: 15%;
}

.container-linha-gerador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: var(--cinza-leve);
    border-radius: 10px;
    padding: 15px;
    gap: 30px;
}

.campos-result-parce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:12%;
    gap: 5px;
}

.campos-result-parce label{
    color: var(--verde);
    font-weight: 800;
    font-size: 12px;
    text-align: center;
}

.campos-result-parce input{
    width: 100%;
    font-weight: 700;
    gap: 20px;
    text-align: start;
    font-size: 12px;
    color: var(--verde);
    background-color: var(--branco);
}

.desconto-gerador{
    display: flex;
    align-items: center;
    background-color: var(--branco);
    padding: 5px;
    border-radius: 5px;
    color: var(--verde);
    padding-left: 8px;
}

.campos-result-parce p{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: start;
    color: var(--verde);
    font-weight: 700;
    background-color: var(--branco);
    padding: 10px;
    width: 83%;
    font-size: 12px;
    border-radius: 5px;    
}

.campos-parcelas2-gerador {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  
  .campos-parcelas2-gerador label {
    font-size: 12px;
    font-weight: 500;
  }
  
  .campos-parcelas2-gerador select {
    background-color: var(--cinza-leve);
    font-weight: 500;
    font-size: 12pxF;
  }
  
  .campos-parcelas2-gerador input {
    background-color: var(--cinza-leve);
    font-weight: 500;
    font-size: 12pxF;
  }